#code1.span 
{
	font-family: 'DejaVu Sans Mono';
	font-size: 12pt;
	color: #BDAE9D;
}
#code1.sc0 
{
}
code1.sc5 
{
	color: #F6F080;
}
code1.sc6 
{
	color: #55E439;
}
code1.sc10 
{
	color: #FFAA00;
}
code1.sc11 
{
	color: #F8F8F8;
}
code1.sc16
{
	color: #FFAA00;
}