h1
{
	color:#FF6700;
	text-shadow: 5px 5px 5px black;
}

div.survey
{
	margin:0 auto;
	text-align:center;
	border:5px solid #A64300;
	width:50%;
}

div.survey p
{
	color:black;
	font-weight:bold;
	font-size:20px;
	text-shadow: 1px 1px 5px white;
}

div.survey a:link,a:visited
{
	color:#FFFFFF;
	background-color:#98bf21;
	text-decoration:none;
	text-shadow:none;
}
		
div.survey a:hover,a:active
{
	background-color:#7A991A;
}
